a {
  margin: 0px;
  text-decoration: none;
  color: #060a0f;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #060a0f;
}

p {
  color: #494949;
}

.tSlow, .copy a, footer .instagram, footer .container .row .social-networks li i, footer .container .row .social-networks li, .grid .grid-item, body header nav ul li a:after, body header nav ul li a:before, body header nav ul li a, body header nav ul .link-active a:after, body header nav ul, body header nav .logo img, body header nav, button, input, select, option, textarea, .rombo, .diamante, .rounded-circle, a {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.pad_100 {
  padding: 100px 0px;
}

.pad_200 {
  padding: 200px 0;
}

.center {
  text-align: center;
  margin: 0px auto;
}

.main-title {
  font-weight: bold;
  color: #060a0f;
  font-size: 60px;
}

.rounded-circle {
  width: 250px;
  height: 250px;
}

.rombo, .diamante, .rounded-circle {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
}
.rombo:hover, .diamante:hover, .rounded-circle:hover {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.diamante {
  display: block;
  position: relative;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  background-image: url("../img/square_02.jpg");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 50;
}

input, select, option, textarea {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #060a0f;
  margin: 5px 0;
  opacity: 0.5;
}
input:hover, input:focus, select:hover, select:focus, option:hover, option:focus, textarea:hover, textarea:focus {
  opacity: 1;
  color: #060a0f;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  max-height: 250px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #060a0f;
  padding: 10px 20px;
  margin: 5px 0;
  color: #060a0f;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
}
button:hover {
  opacity: 1;
  background-color: #060a0f;
  color: #fff;
}
button:hover a {
  color: #fff;
}

.black {
  opacity: 1;
  color: #fff;
  background-color: #060a0f;
}
.black:hover {
  background-color: #ff6600;
  border: 1px solid #ff6600;
}

body header nav {
  width: 100%;
  background-color: transparent;
  padding: 10px 0px;
  position: fixed;
  border-bottom: 1px solid transparent;
  z-index: 100;
}
body header nav:hover {
  background-color: #fff;
  padding: 25px 0;
  border-bottom: 1px solid transparent(#060a0f, 0.9);
}
body header nav:hover .logo img {
  width: 80%;
}
body header nav:hover ul {
  margin-top: 8px;
}
body header nav:hover ul li a {
  color: rgba(73, 73, 73, 0.5);
}
body header nav .logo img {
  width: 100%;
}
body header nav ul {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  text-align: right;
}
body header nav ul .link-active a {
  color: #060a0f !important;
}
body header nav ul .link-active a:after {
  width: 100%;
  background-color: #060a0f;
}
body header nav ul li {
  display: inline-block;
  padding: 0 10px;
}
body header nav ul li a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: rgba(73, 73, 73, 0.5);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
body header nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 1px;
}
body header nav ul li a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  background-color: transparent;
  height: 1px;
}
body header nav ul li a:hover {
  text-decoration: none;
  color: #060a0f;
}
body header nav ul li a:hover:before {
  width: 0%;
  background-color: #060a0f;
}
body header nav ul li a:hover:after {
  width: 100%;
  background-color: #060a0f;
}
body header nav .clima_widget {
  display: flex;
  justify-content: space-evenly;
}
body header nav .clima_widget i {
  margin-top: 5px;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
}
body header nav .clima_widget .clima_datos {
  margin-top: 1px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.nav-overlay {
  background-color: #fff;
  border-bottom: 1px solid rgba(6, 10, 15, 0.1);
  padding: 25px 0;
}
.nav-overlay .logo img {
  width: 80%;
}
.nav-overlay ul {
  margin-top: 8px;
}
.nav-overlay ul li a {
  color: rgba(73, 73, 73, 0.5);
}

.grid {
  width: 100%;
  padding: 150px 0;
}
.grid::after {
  content: "";
  display: block;
  clear: both;
}
.grid .grid-item {
  width: 20%;
  height: 150px;
  padding-bottom: 20%;
  overflow: hidden;
  float: left;
  position: relative;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -o-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  cursor: pointer;
  margin-top: -110px;
}
.grid .grid-item::before {
  pointer-events: none;
}
.grid .grid-item:nth-child(6), .grid .grid-item:nth-child(15) {
  margin-left: 130px;
}
.grid .grid-item a img {
  width: 100%;
  height: auto;
}
.grid .grid-item:hover::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 102, 0, 0.5);
  background-repeat: no-repeat;
  background-image: url("/img/cross.png");
  background-size: 30%;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.contacto {
  width: 100%;
  height: 100vh;
}
.contacto ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacto ul .google-map {
  width: 50%;
  height: 90vh;
  background-image: url("/img/maps.jpg");
  background-position: center center;
  background-size: cover;
}
.contacto ul li {
  float: left;
  padding: 0;
  margin: 0;
}
.contacto ul .formulario {
  width: 50%;
  height: 90vh;
  padding: 150px 50px;
  background-color: #fff;
}

#slider {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
}

#slippry {
  position: relative;
}
#slippry h1, #slippry h2, #slippry h3, #slippry h4, #slippry h5, #slippry h6, #slippry p, #slippry a, #slippry button {
  position: absolute;
}
#slippry p {
  width: 600px;
}
#slippry .white_bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
}
#slippry .left {
  left: 200px;
}
#slippry .right {
  right: 200px;
}
#slippry .top_250 {
  top: 250px;
}
#slippry .top_300 {
  top: 300px;
}
#slippry .top_375 {
  top: 375px;
}
#slippry .top_400 {
  top: 400px;
}
#slippry .top_450 {
  top: 450px;
}

footer {
  margin-top: -60px;
  width: 100%;
  background-color: #060a0f;
  padding: 70px 0px;
  -webkit-clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 0% 100%);
}
footer .container .row p {
  margin: 0;
  padding: 0;
}
footer .container .row p strong {
  color: rgba(255, 255, 255, 0.4);
}
footer .container .row .white {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.3);
}
footer .container .row ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .container .row ul li {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.2);
}
footer .container .row ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
footer .container .row ul li a:hover {
  text-decoration: underline;
}
footer .container .row .col-xl-2 hr {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.78);
}
footer .container .row .social-networks {
  margin-top: 5px;
}
footer .container .row .social-networks li {
  display: inline-block;
  position: relative;
  margin: 10px 7px;
  width: 30px;
  height: 30px;
  text-align: center;
  transform: rotate(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
}
footer .container .row .social-networks li i {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.2);
  transform: rotate(0deg) translate(-3px, 3px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
footer .container .row .social-networks li:hover {
  transform: rotate(45deg);
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
footer .container .row .social-networks li:hover i {
  color: #060a0f;
  transform: rotate(-45deg) translate(-3px, 3px);
}
footer .instagram {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  filter: grayscale(100);
  cursor: pointer;
  opacity: 0.7;
}
footer .instagram:hover {
  opacity: 1;
  filter: none;
}

.copy {
  padding: 10px 0;
  background-color: #070c13;
  text-align: left;
}
.copy p, .copy a {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
}
.copy a {
  opacity: 0.5;
  color: #ff6600;
}
.copy a:hover {
  opacity: 1;
  text-decoration: none;
}/*# sourceMappingURL=estilo.css.map */